* {
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 1.4;
  background-color: #d8e0e5;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.card_date {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  padding-top: 10px;
  color: #fff;
  text-align: center;
  background-color: #ac00e6;
  border-radius: 50%;
  line-height: 13px;
  font-weight: bold;
}

.card_date_day {
  display: block;
  font-size: 14px;
}

.card_date_month {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

.card_thumb {
  height: 230px;
  background-color: #000;
  overflow: hidden;
}

img {
  display: block;
  opacity: 1;
  transition: opacity 0.3s;
}

.card:hover & img {
  opacity: 0.6;
}

.card:hover .card_thumb img {
  opacity: 0.6;
}
